@import "tailwindcss";

:root {
  --background: #2475a6;
  --foreground: #ffcd71;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #de89be;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  background: var(--background);
  color: var(--foreground);
}
