@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lexend);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: repeating-linear-gradient(
    45deg,
    #ffffff,
    #ffffff 25px,
    #e0f2fe 25px,
    #e0f2fe 50px
  );
  color: var(--foreground);
  font-family: var(--font-lexend);
}
